header {
     max-width: 980px;
     padding: 10px 0;
     margin: auto;
     display: flex;
     align-items: center;
     justify-content: space-between;

     ul {
          list-style: none;

          li {
               display: inline-flex;
               padding-left: 50px;
               font-size: 1.1rem;
               align-items: center;
               font-weight: 500;

               svg {
                    height: 1.2rem;
               }

               }
          
          .dropdown {

               position: relative;
               display: inline-block;

               .dropbtn {
                    cursor: pointer;
               }

               ul {
                    //display:none;
                    position:absolute;
                    z-index: 1;

                    li {
                         list-style: none;
                    }
               }
          
               .dropdown:hover .dropdown-content {
                    display: block;
                }
          
          // .dropdown:hover {
          //      ul {
          //           display: block;
          //      }
          // }

               
          }

          }
     }
     @media screen and (max-width: 1100px) {
          header {padding: 10px 20px;}
          
          
          .navigation {
               ul {
                    .currency {
                         display: none;
                    }
               }
          }

     }

     @media screen and (max-width: 760px) {
          
          ul {
               li {
                    span {
                         display: none;
                         padding-left: 0px;
                    }
               }
          }
     }
